html, body{
    margin: 0 auto;
    padding: 0 auto;
    height:100%;
}

.centerdiv{
    float:left;
    width:100%;
    height:100%;
    background: #FFF;
}

#player_list_inner{
    text-align:left;
}

#player_list{
    float:left;
    width:25%;
    height:50%;
    background-color: rgb(175, 219, 255);
    text-align:center;
}

#playground{
    float:left;
    width:50%;
    height:50%;
    background-color: rgb(255, 175, 188);
    text-align:center;
}

#debug{
    float:left;
    width:25%;
    height:50%;
    background-color: rgb(175, 219, 255);
    text-align:center;
}

#joystick_left{
    float:left;
    width:25%;
    height:50%;
    background-color: rgb(255, 175, 188);
    text-align:center;
}

#info{
    float:left;
    width:50%;
    height:50%;
    background-color: rgb(175, 219, 255);
    text-align:center;
}

#joystick_right{
    float:left;
    width:25%;
    height:50%;
    background-color: rgb(255, 175, 188);
    text-align:center;
}