html, body{
    margin: 0 auto;
    padding: 0 auto;
}

.centerdiv{
    float:left;
    width:100%;
    margin-top:1em;
    background: #FFF;
}

#list{
    float:left;
    width:25%;
    height:50%;
    background-color: rgb(175, 219, 255);
}

#playground{
    float:left;
    width:50%;
    height:50%;
    background-color: rgb(255, 175, 188);
}

#debug{
    float:left;
    width:25%;
    height:50%;
    background-color: rgb(175, 219, 255);
}

#joystick_left{
    float:left;
    width:25%;
    height:50%;
    background-color: rgb(255, 175, 188);
}

#info{
    float:left;
    width:50%;
    height:50%;
    background-color: rgb(175, 219, 255);
}

#joystick_right{
    float:left;
    width:25%;
    height:50%;
    background-color: rgb(255, 175, 188);
}